Dataset.csv
Fake/Recording (1).wav
Fake/Recording (2).wav
Fake/Recording (3).wav
Fake/Recording (4).wav
Fake/Recording (5).wav
Fake/Recording (6).wav
Fake/Recording (7).wav
Fake/Recording (8).wav
Fake/Recording (9).wav
Fake/Recording (10).wav
Fake/Recording (11).wav
Fake/Recording (12).wav
Fake/Recording (13).wav
Fake/Recording (14).wav
Fake/Recording (15).wav
Fake/Recording (16).wav
Fake/Recording (17).wav
Fake/Recording (18).wav
Fake/Recording (19).wav
Fake/Recording (20).wav
Fake/Recording (21).wav
Real/Recording (1).wav
Real/Recording (2).wav
Real/Recording (3).wav
Real/Recording (4).wav
Real/Recording (5).wav
Real/Recording (6).wav
Real/Recording (7).wav
Real/Recording (8).wav
Real/Recording (9).wav
Real/Recording (10).wav
Real/Recording (11).wav
Real/Recording (12).wav
Real/Recording (13).wav
Real/Recording (14).wav
Real/Recording (15).wav
Real/Recording (16).wav
Real/Recording (17).wav
Real/Recording (18).wav
Real/Recording (19).wav
Real/Recording (20).wav
Real/Recording (21).wav
